<!DOCTYPE html>
<html lang="en">
<head>
<title>Edit %(title)s</title>

<script src="/static/codemirror/lib/codemirror.js"></script>
<!--<script src="/static/codemirror/mode/rst/rst.js"></script>-->
<script src="/static/codemirror/mode/%(format)s/%(format)s.js"></script>
<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

<style type="text/css">
.CodeMirror {
 font-size: 11pt;
 background: Beige;
} 
textarea {
 font-size: 11pt;
 background: Beige;
} 
#status {
 color: red;
}
</style>


<script>

 window.onload = function() {

//    var iniText = $("#editArea").val();
    var clean = 1;

    // Try to load CodeMirror... 
    try{
        var myCodeMirror = CodeMirror(document.body,
          {value: $("#editArea").val(), lineNumbers: true}
        );
        $("#editArea").remove();
        myCodeMirror.setSize("1100", "725");
        myCodeMirror.on("change", function(myCodeMirror, change) {
          $("#status").text("Modified");
          clean = 0;
          });

    }
    // ...but if the rst parsing fails, fall back to simple textarea
    catch(err){
        $('#editArea').nextAll().remove();
        $('#editArea').bind('input propertychange', function() {
           $("#status").text("Modified");
           clean = 0;
        });
    }
    
    // Define function of the reset button (reload contents, set 'clean')
    $("#resetButton").click(function(){
       $.get("/cgi-bin/howtos/howtos3.py",
         {format: "rst", id: "%(id)s"},
         function(data){
             clean = 1;
             // If codemirror worked, use it, otherwise textarea
             try{         myCodeMirror.setValue(data); }
             catch(err){  $('#editArea').val(data);    }
             $("#status").text("");
         }
       )
    });

    // Define function of the cancel button: go to view this page
    $("#cancelButton").click(function(){
        location.href="/cgi-bin/howtos/howtos3.py?id=%(id)s";
    });

    // Define function of the save button (send title and contents to save form)
    $("#saveButton").click(function(){
       if (clean == 1){
          alert("Document clean. Nothing to save.");
       }
       else{
          // If codemirror worked, use it, otherwise textarea
          try{        var thecontents = myCodeMirror.getValue(); }
          catch(err){ var thecontents = $('#editArea').val();    }
          $.post("/cgi-bin/howtos/howtos3.py",
            {action: "save", id: "%(id)s", contents: thecontents, format: "%(format)s"},
            function(data){
//              alert("Saved"); 
              $("#status").text("");
              clean = 0;
            }
          )
       }
    });

 };
</script>


</head>
<body>

<table>
  <tr>
  <td width="10%%"></td>

  <td width="15%%">
   <center>
   <b><label id="title">%(title)s</label></b> &nbsp;&nbsp;
   <small>(format: <b>%(format)s</b>)</small> 
   </center>
  </td>

  <td width="3%%"></td>

  <td width="10%%">
    <center> <button id="saveButton">Save</button> </center>
  </td>  
  <td width="1%%"></td>

  <td width="10%%">
    <center> <button id="resetButton">Reset</button> </center>
  </td>
  <td width="1%%"></td>

  <td width="10%%">
    <center> <button id="cancelButton">Cancel/Done</button> </center>
   </center>
  </td>
  <td width="5%%"></td>
<!--   <b><label id="result"></label></b>-->

  <td width="8%%">
    <center> <label id="status"></label> </center>
   </center>
  </td>
  <td width="15%%"></td>

  <tr>

  <tr> <td><br/></td> </tr>
</table>

<textArea rows="40" cols="110" id="editArea">%(contents)s</textArea>

</body>
</html>
