<!DOCTYPE html>
<html lang="en">
<head>
<title>Edit %(title)s</title>

<script src="/static/codemirror/lib/codemirror.js"></script>
<script src="/static/codemirror/mode/rst/rst.js"></script>
<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

<style type="text/css">
.CodeMirror {
 font-size: 11pt;
 background: Beige;
} 
#status {
 color: red;
}
</style>

<script>
 window.onload = function() {

    var myCodeMirror = CodeMirror.fromTextArea(
      editArea, 
      {lineNumbers: true}
    );

    myCodeMirror.setSize("100%%", "100%%");
    myCodeMirror.on("change", function(myCodeMirror, change) {
      $("#status").text("Modified");
      });

    $("#resetButton").click(function(){
       $.get("/cgi-bin/howtos/howtos.py",
         {format: "text", page: "%(title)s"},
         function(data){
           myCodeMirror.setValue(data); 
           $("#status").text("");
           myCodeMirror.markClean();
         }
       )
    });

    $("#cancelButton").click(function(){
        location.href="/cgi-bin/howtos/howtos.py";
    });

    $("#saveButton").click(function(){
       if (myCodeMirror.isClean()){
          alert("Document clean. Nothing to save.");
       }
       else{
         $.post("/cgi-bin/howtos/howtos.py",
           {action: "save", page: "%(title)s", contents: myCodeMirror.getValue()},
           function(data){
             alert("Saved"); 
             $("#status").text("");
             myCodeMirror.markClean();
           }
         )
       }
    });

 };
</script>


</head>
<body>

<table>
  <tr>
  <td width="5%%"></td>

  <td width="30%%">
   <center>
   <b><label id="title">%(title)s</label></b>
   </center>
  </td>
  <td width="5%%"></td>

  <td width="10%%">
    <center> <button id="saveButton">Save</button> </center>
  </td>  
  <td width="5%%"></td>

  <td width="10%%">
    <center> <button id="resetButton">Reset</button> </center>
  </td>
  <td width="5%%"></td>

  <td width="10%%">
    <center> <button id="cancelButton">Cancel</button> </center>
   </center>
  </td>
  <td width="5%%"></td>
<!--   <b><label id="result"></label></b>-->

  <td width="10%%">
    <center> <label id="status"></label> </center>
   </center>
  </td>
  <td width="5%%"></td>

  <tr>

  <tr> <td><br/></td> </tr>
</table>

<textArea rows="40" cols="110" id="editArea">%(contents)s</textArea>

</body>
</html>
