<!DOCTYPE html>

<HTML>

<HEAD>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

 function myalert(){  alert("ALERT");  }   

 var kwordFilter = "&emsp; &emsp; &emsp; &emsp; Title/Kword filter: <input type=\"text\" class=\"filter\" name=\"kwordFilter\" value=\"\" />" 
 var bodyFilter  = "&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Contents filter: <input type=\"text\" class=\"filter\" name=\"bodyFilter\" value=\"\" />" 

 function addKwordFilter() {
   $("#kwordFilter").html($("#kwordFilter").html() + "<br/>" + kwordFilter);
 }
 function addBodyFilter() {
   $("#bodyFilter").html($("#bodyFilter").html() + "<br/>" + bodyFilter);
 }

 function addKword(value){
   $("#newKwords").val(value + ',' + $("#newKwords").val());
 }

 function validateForm() {
    if ($("#newHowto").val() == "") {
        alert("Add HowTo:\n\n  HowTo name must be filled out");
        return false;
    }
    if ($("#newKwords").val() == "") {
        alert("Add HowTo:\n\n  Please introduce at least one keyword");
        return false;
    }
 }

</script>


<style type="text/css">
 body {
  background-color: WhiteSmoke ;
  font-family: Arial, sans-serif;
  font-size: 110%%;
  margin-left: 100px;
  margin-right: 100px;
 }
 .filter{
  background-color: LightGreen;
 }
 .add{
 background-color: Orange;
 }
 .howtoLink{
  text-decoration: none;
  font-size: 95%%;
 }
 .smLink{
  text-decoration: none;
  font-size: 65%%;
  color: black;
 }
 .smLink2{
  text-decoration: none;
  font-size: 85%%;
  color: black;
 }
 .mylabel{
  text-align: center;
  font-size: 80%%;
  color: red;
 }
 tr{
  line-height: 14px;
 }
 form, input{
  font-family: monospace;
 }
 h1.title {
   text-align: center;
   background-color: #444499;
   color: white;
   font-size: 200%%;
 }
/* Add some styles for hover menus */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
/*     min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
/*     padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
 
</style>

</HEAD>

<BODY>

<center> <input type="button" value="HOME" onclick="location.href='howtos.py';" /> </center>
<h1 class="title">HowTo's &emsp; </h1>

<center>
<table width="100%%">

<tr>
<td width="45%%">
<form action="howtos.py" method="get">

  <center>
  %(baseFilt)s
  </center>

  <span id="kwordFilter">
  %(kwordFilter)s
  </span>
  <br/> 

  <span id="bodyFilter">
  %(bodyFilter)s
  </span>

  <br/><br/>
  <center>
  <input type="submit" name="filter" class="filter" value="Apply filter(s)" />
  </center>

</form> 
</td>

<td width="5%%">
</td>

<td width="40%%" valign="top">
<form action="howtos.py" method="post" onsubmit="return validateForm()">
   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Format:
  <input type="radio" name="format" value="rst" checked>rst</input>
  <input type="radio" name="format" value="markdown">markdown</input> 
  <br/>
  &emsp; &emsp; &emsp; Name: <input type="text" size=30 class="add" name="howtoName" id="newHowto"/>
  <br/>
  &emsp; &emsp; Kwords: <input type="text" size="30" class="add" name="keywords" id="newKwords"/> 
     <div class="dropdown">
       <button onclick="return false;">+</button>
       <div class="dropdown-content">
          %(commonKwords)s
       </div>
     </div>
  <br/>(comma-separated)
  <br/>
  <input type="hidden" name="action" value="editNewHowto"/>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
  <input type="submit" name="addHowto" class="add" value="Add Howto" />
</form>
</td>
</tr>

<tr>
<td colspan="3">
<table width="100%%">
%(recent)s
%(common)s
%(list)s
</table>
</td>
</tr>
</table>
</center>

</BODY>

</HTML>
